{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Gestion des contrats {% endblock %}
       
{% block contenu %} <h1> Gestion des contrats </h1> 

{% if form.valide is defined %} 
    {% if form.valide == true %}
       <h1 class="h3 mb-3 font-weight-normal">{{ form.message }}</h1>
       {% else %}  
       <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1> 
    {% endif %}         
{% endif %}         
    
<div class="panel">
  <!-- Default panel contents -->
  <div class="panel-heading background-violet">Liste des contrats - <a href="index.php?page=contratajout" class="blanc">Ajouter un contrat</a></div>

  <!-- Table -->
  <div class="table-responsive">
  <table class="table table-hover table-striped">
      <tr><th>Projets</th><th>Entreprises</th><th>Coût</th><th>Date signature</th><th>Début</th><th>Fin</th><th>Modifier</th><th>Supprimer</th></tr>
   {% for c in liste %}
          <tr><td>{{c.libelle}}</td><td>{{c.nom}} </td><td>{{c.cout}}</td><td>{{c.dateSignature}}</td><td>{{c.dateFin}}</td><td>{{c.dateDebut}}</td> <td><div class="btn-group btn-group-lg"><a href="index.php?page=contratmodif&idContrat={{c.idContrat}}"><span class="glyphicon glyphicon-pencil violet" aria-hidden="true"></span></a></div></td><td><div class="btn-group btn-group-lg"><a href="index.php?page=contrat&idContrat={{c.idContrat}}"><span class="glyphicon glyphicon-trash violet" aria-hidden="true"></span></a></div></td></tr> 
   {% endfor %}   
  </table>
  </div>
</div>

{% endblock %} 


