{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Modification d'une compétence {% endblock %}
       
{% block contenu %} 
	
<h1> Modification d'une compétence</h1> 

{% if form.maitrise is defined %} 
    {% if form.maitrise != null %}

        <div class="panel-body">
        <form  class="form-signin" action="index.php?page=maitrisemodif" method="post" enctype="application/x-www-form-urlencoded">
		<input type="hidden" id="inputIdComp" name="inputIdComp" value="{{form.maitrise.idComp}}"/> 
		<input type="hidden" id="inputIdDev" name="inputIdDev" value="{{form.maitrise.idDev}}"/> 
        <input type="text" id="inputNiveau" name="inputNiveau" class="form-control" placeholder="Saisir un niveau" value="{{form.maitrise.niveau}}" required autofocus>
        <button class="btn btn-lg btn-primary btn-block" type="submit" name="btModifier">Modifier</button>
        </form>
        </div> 
    {% else %}  
        {% if form.valide == true %}
            <h1 class="h3 mb-3 font-weight-normal">{{ form.message }} </h1>
            <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=maitrise" class="violet">Retourner sur la liste des compétences</a></h1>
        {% else %}    
            <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1> 
            <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=maitrise" class="violet">Retourner sur la liste des compétences</a></h1>
        {% endif %} 
    {% endif %} 
{% else %} 
     <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1> 
     <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=maitrise&idDev={{ unIdDev }}" class="violet">Retourner sur la liste des compétences</a></h1>
       
{% endif %}
{% endblock %} 
