{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Gestion des rémunérations {% endblock %}
       
{% block contenu %} <h1> Gestion des rémunérations </h1> 

{% if form.valide is defined %} 
    {% if form.valide == true %}
       <h1 class="h3 mb-3 font-weight-normal">{{ form.message }}</h1>
       {% else %}  
       <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1> 
    {% endif %}         
{% endif %}         
    
<div class="panel">
  <!-- Default panel contents -->
  <div class="panel-heading background-violet">Liste des rémunérations - <a href="index.php?page=remunerationajout" class="blanc">Ajouter un type de rémunération</a></div>

  <!-- Table -->
  <div class="table-responsive">
  <table class="table table-hover table-striped">
      <tr><th>Libellé :</th><th>Coût horaire :</th><th></th><th></th></tr>
   {% for e in liste %}
          <tr><td>{{e.libelle}}</td><td>{{e.coutHoraire}}<td><div class="btn-group btn-group-lg"><a href="index.php?page=remunerationmodif&idRem={{e.idRem}}"><span class="glyphicon glyphicon-pencil violet" aria-hidden="true"></span></a></div></td><td><div class="btn-group btn-group-lg"><a href="index.php?page=remuneration&idRem={{e.idRem}}"><span class="glyphicon glyphicon-trash violet" aria-hidden="true"></span></a></div></td></tr> 
   {% endfor %}   
  </table>
  </div>
</div>

{% endblock %} 


