{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Modification d'une tâche {% endblock %}
       
{% block contenu %} <h1> Modification d'une tâche </h1> 

{% if form.tache is defined %} 
    {% if form.tache != null %}    
        <div class="panel-body">
			<form  class="form-signin" action="index.php?page=tachemodif" method="post" enctype="application/x-www-form-urlencoded">
				<input type="hidden" id="inputCode" name="inputCode" value="{{form.tache.code}}"/> 
				
				<label for="inputLibelle" class="sr-only">Libellé:</label>
				<input type="text" id="inputLibelle" name="inputLibelle" class="form-control" placeholder="Saisir un libellé" value="{{form.tache.libelle}}" required autofocus>
				
				<label for="inputCout" class="sr-only">Coût de la tâche:</label>
				<input type="number" id="inputCout" name="inputCout" class="form-control" placeholder="Saisir un cout" value="{{form.tache.cout}}" required autofocus>
				
				<label for="inputHoraire" class="sr-only">Nombre d'heures:</label>
				<input type="number" id="inputHoraire" name="inputHoraire" class="form-control" placeholder="Saisir une heure" value="{{form.tache.horaire}}" required autofocus>
				   
				<select name="inputIdDev" class="form-control">
					{% for r in form.liste %}
						<option value="{{ r.email }}">{{ r.email }}</option> 
					{% endfor%}    
				</select>
				
				<select name="inputCode_Projet" class="form-control">
					{% for r in form.liste2 %}
						<option value="{{ r.code }}">{{ r.libelleProjet }}</option> 
					{% endfor%}    
				</select>
				
				<button class="btn btn-lg btn-primary btn-block" type="submit" name="btModifier">Modifier</button>
			</form>
        </div> 
    {% else %}  
        {% if form.valide == true %}
            <h1 class="h3 mb-3 font-weight-normal">{{ form.message }} </h1>
            <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=tache" class="violet">Retourner sur la liste des tâches</a></h1>
        {% else %}    
            <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1> 
            <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=tache" class="violet">Retourner sur la liste des tâches</a></h1>
        {% endif %} 
    {% endif %} 
{% else %} 
     <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1> 
     <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=tache" class="violet">Retourner sur la liste des tâches</a></h1>
       
{% endif %}
{% endblock %}