{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} - Modifier un utilisateur {% endblock %}
       
{% block contenu %} 

{% if form.utilisateur is defined %} 
    {% if form.utilisateur != null %}
                <h1 class="h3 mb-3 font-weight-normal">Modifier un utilisateur</h1>
        
        <form class="form-signin form" action="index.php?page=utilisateurmodif" method="post" enctype="application/x-www-form-urlencoded">
            <div class="text-center">
                <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
                <input type="file" class="text-center center-block file-upload">
            </div>
            </hr>  
            <br>
            <label for="inputEmail" class="sr-only">Email:</label>
            <label for="inputPassword" class="sr-only"> Modifier le mot de passe:</label>
            <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Modifier le mot de passe:">
            
            <label for="inputPassword2" class="sr-only">Confirmer le mot de passe à modifier: </label>
            <input type="password" id="inputPassword2" name="inputPassword2" class="form-control" placeholder="Confirmation mot de passe">
            {# Nom et prénom #}
            <label for="nom" class="sr-only">Nom:</label>
            <input type="text" id="nom" name="nom" class="form-control" placeholder="Nom" value="{{form.utilisateur.nom}}" required>
            
            <label for="prenom" class="sr-only">Prénom:</label>
            <input type="prenom" id="prenom" name="prenom" class="form-control" placeholder="Prénom" value="{{form.utilisateur.prenom}}" required>
            
            <select class="form-control" name="role">
{% for r in form.roles %}
    {% if r.id==form.utilisateur.idRole %}
            <option value="{{ r.id }}" selected>{{ r.libelle }}</option>
         {% else %}
          <option value="{{ r.id }}">{{ r.libelle }}</option>   
         {% endif %}    
     {% endfor %}   
     <br>
      </select>
     <br>
      <input type="hidden" name="email" value="{{ form.utilisateur.email }}"/>
      <button class="btn btn-lg btn-primary btn-block" type="submit" name="btModifier">Modifier</button>
     
      </form>
        <hr>

      
    {% else %} 
       <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1> 
       <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=utilisateur" class="violet">Retourner sur la liste des utilisateurs</a></h1>
    {% endif %}     
   
{% else %}  
     {% if form.valide == true %}
         <h1 class="h3 mb-3 font-weight-normal">{{ form.message }} </h1>
         <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=utilisateur" class="violet">Retourner sur la liste des utilisateurs</a></h1>
     {% else %}    
      <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1> 
      <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=utilisateur" class="violet">Retourner sur la liste des utilisateurs</a></h1>
    {% endif %} 
{% endif %}      

{% endblock %} 

